


<style>
    .modal-content {
        width: 1090px;
    }
    
    
</style>
<script>
	$(".table-list_popimg ").on("mouseover", ".popimg", function () {
		
                if (this.tagName == "IMG") {
                    var strImg = "<img src=" + this.src + " style='width:200px;'>";
                    
                    toolTip(strImg);
                    console.log(this.src);
                } else {
                    $(this).find("img").each(function () {
                        var strImg = "<img src=" + this.src + " style='width:200px;'>";
                        toolTip(strImg);
                    });
                }
            }).on("mouseout", function () {
                $("body").find("#toolTipLayer").hide();
            });

</script>
<div class="storeProducts">
    <div class="row">
        <div class="panel panel-search prod_search_pan">
            <div class="panel-heading clearfix">
                <div class="panel-title">
                    <h5><i class="fa fa-search"></i> <span>查询条件</span></h5>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">商品款号：</label>
                    <div class="col-md-4">
                        @Html.TextBox("BigProdNum", "", new { @class = "form-control", placeholder = "商品款号" })
                    </div>

                    <label class="control-label col-md-2">季节：</label>
                    <div class="col-md-4">
                        @Html.DropDownList("SeasonId", (List<SelectListItem>)ViewBag.Season, new { @class = "form-control selectpicker" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">商品品牌：</label>
                    <div class="col-md-4">
                        @Html.DropDownList("BrandId", (List<SelectListItem>)ViewBag.Brand, new { @class = "form-control selectpicker selectpicker" })
                    </div>
                    <label class="control-label col-md-2">商品品类：</label>
                    <div class="col-md-4">
                        @Html.DropDownList("CategoryId", (List<SelectListItem>)ViewBag.Categories, new { @class = "form-control selectpicker selectpicker" })
                    </div>
                </div>
               

            </div>

            <div class="panel-footer text-right clearfix ">

                <div class="pull-left">
                    <button id="Search_par" title="按条件搜索数据" type="button" class="btn btn-primary btn-padding-right"><i class="fa fa-search"></i> <span>搜索</span></button>
                    <button id="Clear_par" title="重置搜索栏的各项输入" type="button" class="btn btn-default btn-padding-right"><i class="fa fa-refresh"></i> <span>清除</span></button>
                </div>

            </div>
        </div>
    </div>
    <input type="hidden" id="hid_store_id" value="@ViewBag.storeid " />
    <table id="nwe_table_1" class="table table-list table-list_popimg  valign-middle" width="100%">
        <thead>
        </thead>
    </table>
</div>
<script src="~/wwwroot/built/GetProductsByStore.js"></script>
<script>
    // selectpicker 初始化
    $(function () {
        $('.selectpicker').selectpicker();
    })
</script>