
@using Whiskey.ZeroStore.ERP.Models.Entities.Notices
@model StoreStatistics

<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("店铺") :
    </label>
    <div class="col-md-8">
        @Model.StoreName
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("累计退货数量") :
    </label>
    <div class="col-md-8">
        @Model.ReturnedCount
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("实际退款总额(￥)") :
    </label>
    <div class="col-md-8">
        @Model.RealReturnedAmount
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("现金(￥)") :
    </label>
    <div class="col-md-8">
        @Model.ReturnedCash
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("刷卡(￥)") :
    </label>
    <div class="col-md-8">
        @Model.ReturnedSwipCard
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("储值(￥)") :
    </label>
    <div class="col-md-8">
        @Model.ReturnedBalance
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("储值成本(￥)") :
    </label>
    <div class="col-md-8">
        @Model.RealReturnedBalance
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayName("积分") :
    </label>
    <div class="col-md-8">
        @Model.ReturnedScore
    </div>
</div>




