@using Whiskey.ZeroStore.ERP.Models
@{
    Module BreadCrumb = ViewBag.BreadCrumb;
    string themePath = ViewBag.themePath ?? string.Empty;
}
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9 gt-ie8"><![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>零时尚ERP管理平台 V2 — @ViewBag.Title — 我们的任务是让你的工作变得更简单！</title>
    <meta id="keywords" name="Keywords" content="零时尚产品，进销存管理系统，零时尚ERP系统，零时尚内部管理系统，产品进销存管理系统" />
    <meta id="description" name="Description" content="零时尚是一家整合奢侈品资源的高端销售平台，期待你的加盟！ " />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <style>
        .inner li:last-child {
            background: transparent !important;
            color: #fff;
            font-size: 14px;
        }
    </style>
    @Styles.Render("~/bundles/global_styles")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/scripts")
    @Html.Partial("_VueComponents")
    <script>var init = []</script>
    <script src="~/signalr/hubs"></script>
    @Html.Partial("_Head", ViewBag as object)
</head>
<body class="theme-default">
   

    @Html.Partial("_Nav", ViewBag as object)

    @Html.Partial("_Menu", ViewBag as object)

    <div id="main-wrapper">
           @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/validates")
    <script>
        window.ZeroStore.start(init);
        window.onpopstate = function () {
            $("#main-wrapper").load(window.location.href, function () { });
        }


      

    </script>
    @Html.Partial("_AutoExit", new { AdminId = ViewBag.AdminId })
</body>
</html>