@using Whiskey.ZeroStore.ERP.Models;
@using Whiskey.ZeroStore.ERP.Website.Areas.Authorities.Models;
@model  Group
<style>
    .par_view label {
        padding-top: 0px !important;
    }

    #defright_tab ul li {
        clear: both;
        list-style-type: none;
        margin-left: 10px;
    }

    ul li {
        list-style-type: none;
    }

    .par_ul span {
        margin-left: 10px;
    }
</style>
<div>
    <ul id="conta" class="nav nav-tabs">
        <li class="active">
            <a href="#baseinfo_tab" data-toggle="tab">
                基本信息
            </a>
        </li>
        @*<li><a href="#defright_tab" data-toggle="tab">组默认权限</a></li>*@
        <li><a href="#groupmemb_tab" data-toggle="tab">组成员</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="baseinfo_tab">
            <div class="view par_view">
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.DisplayNameFor(m => m.GroupName) :
                    </label>
                    <div class="col-md-7">
                        @Model.GroupName
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.DisplayNameFor(m => m.Description) :
                    </label>
                    <div class="col-md-7">
                        @Model.Description
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.DisplayNameFor(m => m.IsDeleted) :
                    </label>
                    <div class="col-md-7">
                        @Html.Raw(Model.IsDeleted == true ? "是" : "否"
        )
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.DisplayNameFor(m => m.IsEnabled) :
                    </label>
                    <div class="col-md-7">
                        @Html.Raw(Model.IsEnabled == true ? "是" : "否")
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.DisplayNameFor(m => m.UpdatedTime) :
                    </label>
                    <div class="col-md-7">
                        @Model.UpdatedTime

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">
                        @Html.DisplayNameFor(m => m.CreatedTime) :
                    </label>
                    <div class="col-m-7">
                        @Model.CreatedTime
                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" value="@Model.Id " />
        @*<div class="tab-pane fade" id="defright_tab" style="height:auto">
            <div>
                @if (((List<ModuPermission>)ViewBag.da).Count() == 0)
                {
                    <span style="margin-left:20px;text-align:center">无数据……</span>
                }
                else
                {
                    <ul>
                        @foreach (var item in (List<ModuPermission>)ViewBag.da)
                        {
                            <li>
                                <span style="font-weight:bold">@item.Name.Trim()</span>
                                <div style="margin-left:10px;">
                                    @foreach (var t in item.Child)
                                    {
                                        <label style="font-weight:500" title="@t.Description">
                                            @t.Name<input type="checkbox" checked="checked" disabled="disabled" />
                                        </label>
                                    }
                                </div>
                            </li>

                        }

                    </ul>
                }

            </div>
        </div>*@
        <div class=" tab-pane fade" id="groupmemb_tab">
            <div>
                <ul class="par_ul">
                    <li>
                        <span style="font-weight:bold">组中的用户</span>
                        <ul class="memb">
                            <li>
                                @if (((List<string>)ViewBag.Membs).Count() == 0)
                                {
                                    <span>无数据</span>
                                }
                                else
                                {
                                    foreach (var item in (List<string>)ViewBag.Membs)
                                    {
                                        <span>@item</span>
                                    }
                                }

                            </li>
                        </ul>
                    </li>
                    <li>
                        <span style="font-weight:bold">组中的角色</span>
                        <ul class="memb">
                            <li>
                                @if (((List<string>)ViewBag.Groups).Count() == 0)
                                {
                                    <span>无数据</span>
                                }
                                else
                                {
                                    foreach (var item in (List<string>)ViewBag.Groups)
                                    {
                                        <span>@item</span>
                                    }
                                }

                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
<script>
    $(function () {
        $("button[data-bb-handler='success']").hide();
    })
</script>




