
@using Whiskey.ZeroStore.ERP.Models
@using Whiskey.ZeroStore.ERP.Transfers
@model WorkOrderDto

<link href="/content/styles/jquery/jquery.zTreeStyle.css" rel="stylesheet" />
<script src="/content/scripts/jquery/jquery.ztree.core-3.5.min.js"></script>
<script src="/content/scripts/jquery/jquery.ztree.excheck-3.5.js"></script>

<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.WorkOrderTitle) ：
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.WorkOrderTitle, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        类别：
    </label>
    <div class="col-md-10">
        @Html.DropDownList("WorkOrderCategoryId", (List<SelectListItem>)ViewBag.WorkOrderCategorys, new { @class = "form-control selectpicker " })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.Content) ：
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Content, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">图片预览 :</label>
    <div class="col-md-10">
        <div class="upload-wrapper">
            <canvas id="upload-preview" width="470" height="250"></canvas>
        </div>
    </div>
    @Html.HiddenFor(m => m.ImgAddress)
</div>
<div class="form-group">
    <label class="control-label col-md-2"></label>
    <div class="col-md-10">
        <div class="upload-file text-left">
            <a href="javascript:void(0)" class="upload-image text-center"><label for="upload-file">上传图片</label></a>
            <input id="fileupload" type="file" accept="image/jpeg,image/gif,image/png,image/jpg">
        </div>
        <div class="upload-progress"></div>
    </div>
</div>

@Styles.Render("~/bundles/upload/styles")
@Scripts.Render("~/bundles/upload/scripts")
@Scripts.Render("~/bundles/tags")

<script>
    $(function () {
        $('#fileupload').fileupload({
            url: "/Upload/WorkOrderImg",
            dataType: 'json',
            sequentialUploads: true,
            limitConcurrentUploads: 1,
            maxNumberOfFiles: 1,
            progressInterval: 100,
            maxChunkSize: 10000,
            formData: { ExtType: "Image", SaveDir: "Offices", FileName: $.whiskey.tools.dateFormat(new Date(), "HHmmssffff") },
            send: function (data) {
                $(".upload-file").hide();
                $(".upload-progress").show();
            },
            done: function (e, d) {
                var data = d.result;
                if (typeof (data) == "object") {
                    if (data.ResultType == 3) {
                        $(".color-details").show();
                        $("#ImgAddress").val(data.Data.file);
                        var canvas = document.getElementById('upload-preview');
                        var maxWidth = canvas.width;
                        var maxHeight = canvas.height;
                        var ctx = canvas.getContext('2d');
                        var img = new Image();
                        img.onload = function () {
                            if (img.height > maxHeight) {
                                img.width *= maxHeight / img.height;
                                img.height = maxHeight;
                            }
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            ctx.drawImage(img, 0, 0, img.width, img.height);

                            canvas.onmouseover = function (event) {
                                canvas.style.cursor = "crosshair";
                            }
                            canvas.onmousedown = function (event) {
                                canvas.onmousemove = function (event) {
                                }
                                canvas.onmouseup = function () {

                                    canvas.style.cursor = "crosshair";

                                    var canvasOffset = $(canvas).offset();
                                    var canvasX = Math.floor(event.pageX - canvasOffset.left);
                                    var canvasY = Math.floor(event.pageY - canvasOffset.top);
                                    var imageData = ctx.getImageData(canvasX, canvasY, 1, 1);
                                    var pixel = imageData.data;

                                    canvas.onmousemove = null;
                                    canvas.onmouseup = null;
                                    canvas.onmouseover = null;
                                }
                            }

                        }
                        img.src = data.Data.file;
                    } else {
                        $.whiskey.web.alert({
                            type: "danger",
                            content: data.Message,
                            callback: function () {
                            }
                        });
                    }
                }
                $(".upload-file").show();
                $(".upload-progress").hide();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.upload-progress').progressbar({ value: progress });
            }
        }).prop('disabled', !$.support.fileInput)
    .parent().addClass($.support.fileInput ? undefined : 'disabled');

        var setting = {
            check: {
                enable: true,
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootPId: null
                }
            },
            async: {
                enable: true,
                url: "/Galleries/GalleryAttribute/TreeList",
                autoParam: ["id", "name"]
            },
            callback: {
                onCheck: onTreeChecked
            }
        };

        tree = $.fn.zTree.init($(".Attributes"), setting);
        tree.setting.check.chkboxType = { "Y": "ps", "N": "ps" };
        tree.setting.view.fontCss["font-size"] = "14px";
        tree.setting.view.fontCss["line-height"] = "20px";

    });

    function onTreeChecked(event, treeId, treeNode) {
        var nodes = tree.getCheckedNodes(true);
        var ids = "";
        for (var n = 0; n < nodes.length; n++) {
            ids.length == 0 ? ids = nodes[n].id : ids += "," + nodes[n].id;
        }
        $("#Attributes").val(ids);
        SetPopover(treeNode.id);
    }
</script>
<script>
    // selectpicker 初始化
    $(function () {
        $('.selectpicker').selectpicker();
$('.selectpicker').selectpicker('refresh');
    })
</script>