




@using Whiskey.ZeroStore.ERP.Transfers
@model TimeoutSettingDto
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayNameFor(m => m.Name) :
    </label>
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayNameFor(m => m.Desc) :
    </label>
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.Desc, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayNameFor(m => m.TimeSpan) :
    </label>
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.TimeSpan, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-4">
        @Html.DisplayNameFor(m => m.DeductScore) :
    </label>
    <div class="col-md-6">
        @Html.TextBoxFor(m => m.DeductScore, new { @class = "form-control" })
    </div>
</div>

@Html.HiddenFor(m=> m.Id)
