@using Whiskey.ZeroStore.ERP.Transfers
@model StoreTypeDto

<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.TypeName) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.TypeName, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.IsPay) :
    </label>
    <div class="col-md-2">
        @Html.CheckBoxFor(f => f.IsPay, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.IndependentStorage) :
    </label>
    <div class="col-md-2">
        @Html.CheckBoxFor(f => f.IndependentStorage, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m => m.IsReseller) :
    </label>
    <div class="col-md-2">
        @Html.CheckBoxFor(f => f.IsReseller, new { @class = "form-control" })
    </div>
</div>

@Html.HiddenFor(m => m.Id)
