@using Whiskey.ZeroStore.ERP.Website.Areas.Authorities.Models;
@using Whiskey.ZeroStore.ERP.Models
@using Whiskey.ZeroStore.ERP.Transfers.Enum.Member
@model Administrator

<style>
    ul li {
        list-style-type: none;
    }
</style>
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#baseinfo_tab" data-toggle="tab">
            基本信息
        </a>
    </li>
    @*<li><a href="#defaultright_tab" data-toggle="tab">用户默认权限</a></li>*@
    <li><a href="#role_tab" data-toggle="tab">用户角色</a></li>
    @*<li><a href="#group_tab" data-toggle="tab">用户组</a></li>*@
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="baseinfo_tab">
        @Html.HiddenFor(m => m.Id)
        <div class="form-group">
            <label class="control-label col-md-4">
                员工编号 :
            </label>
            <div class="col-md-8">
                @Model.Member.UniquelyIdentifies
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                员工昵称(登录名) :
            </label>
            <div class="col-md-8">
                @Model.Member.MemberName
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Member.Email) :
            </label>
            <div class="col-md-8">
                @Model.Member.Email
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Member.MobilePhone) :
            </label>
            <div class="col-md-8">
                @Model.Member.MobilePhone
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Member.RealName) :
            </label>
            <div class="col-md-8">
                @Model.Member.RealName
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Member.Gender) :
            </label>
            <div class="col-md-8">
                @Html.Raw(Model.Member.Gender == (int)GenderFlag.Male ? "男" : "女")

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Member.DateofBirth) :
            </label>
            <div class="col-md-8">
                @Model.Member.DateofBirth
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.Notes) :
            </label>
            <div class="col-md-8">
                @Model.Notes
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.LoginCount) :
            </label>
            <div class="col-md-8">
                @Model.LoginCount
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.LoginTime) :
            </label>
            <div class="col-md-8">
                @Model.LoginTime
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.UpdatedTime) :
            </label>
            <div class="col-md-8">
                @Model.UpdatedTime
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.CreatedTime) :
            </label>
            <div class="col-md-8">
                @Model.CreatedTime
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.IsEnabled) :
            </label>
            <div class="col-md-8">
                @Html.Raw(Model.IsEnabled == true ? "是" : "否")
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4">
                @Html.DisplayNameFor(m => m.IsDeleted) :
            </label>
            <div class="col-md-8">
                @Html.Raw(Model.IsDeleted == true ? "是" : "否")
            </div>
        </div>

    </div>
    @*<div class="tab-pane fade" id="defaultright_tab">
        @{Html.RenderAction("LoadPermissionTree", "Administrator");}
    </div>*@
    <div class="tab-pane fade" id="role_tab">
        <div style="margin-left:40px">
            @if (((List<string>)ViewBag.roles) == null || ((List<string>)ViewBag.roles).Count() == 0)
            {
                 <span style="text-align:center">无数据……</span>
            }
            else
            {
                foreach (var item in (List<string>)ViewBag.roles)
                {
                    <label style="margin-left:15px;font-weight:normal">@item<input type="checkbox" checked="checked" disabled="disabled" /></label>
                }
            }

        </div>

    </div>
    @*<div class="tab-pane fade" id="group_tab">
        <div style="margin-left:40px">
            @if (((List<string>)ViewBag.groups) == null || ((List<string>)ViewBag.groups).Count() == 0) { 
              <span style="text-align:center">无数据……</span>
            }
            else { 
            foreach (var item in (List<string>)ViewBag.groups)
            {
                <label style="margin-left: 15px; font-weight: normal"> @item<input type="checkbox" checked="checked" disabled="disabled" /></label>
            }
            }
        </div>
    </div>*@
</div>