




@using Whiskey.ZeroStore.ERP.Transfers
@model ReturnedDto
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.StoreId) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.StoreId, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.MemberId) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.MemberId, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.ReturnedNumber) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.ReturnedNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.OrderNumber) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.OrderNumber, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.Status) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.Status, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.Cash) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.Cash, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.Card) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.Card, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.ConsumeScore) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.ConsumeScore, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.AchieveScore) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.AchieveScore, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.Balance) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.Balance, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2">
        @Html.DisplayNameFor(m=>m.Coupon) :
    </label>
    <div class="col-md-10">
        @Html.TextBoxFor(m=> m.Coupon, new { @class = "form-control" })
    </div>
</div>
@Html.HiddenFor(m=> m.Id)
